body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  justify-content: flex-start;
  /* border: blue solid; */
}

/*HEADER*/
header {
  border-bottom: rgb(241, 241, 241) solid 1px;
  height: 70px;
  align-items: center;
  display: flex;
  font-size: 40px;
  letter-spacing: 3px;
  padding: 10px 0;
}

header div {
  display: flex;
  gap: 60px;
  margin-left: 120px;
}

header button {
  padding: 5px 15px;
  border: none;
  background-color: #177782;
  color: white;
  border-radius: 5px;
  height: 35px;
}

header input {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: none;
  height: 30px;
  width: 500px;
}
nav {
  display: flex;
  gap: 15px;
}

/*HERO*/

.hero {
  width: 100%;
  background-image: url("src/assets/images/hero-image-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
}

.hero > div {
  background-color: white;
  height: 300px;
  width: 450px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 40px;
  box-sizing: border-box;
  justify-content: space-between;
}

.hero h2 {
  font-size: 32px;
}

.hero div div {
  width: 75%;
}

.hero button {
  height: 50px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #177782;
  margin-top: 20px;
}

.hero p:last-child {
  color: #177782;
  text-decoration: underline;
}

/*HIGHLIGHTS*/
.filters {
  /* border: red solid; */
  width: 100%;
  display: flex;
  gap: 20px;
  border-bottom: rgb(241, 241, 241) solid 1px;
  padding-bottom: 15px;
}

.filters div {
  /* border: purple solid; */
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}

.filters button {
  width: 150px;
  height: 30px;
}

.highlights {
  display: flex;
  flex-direction: column;
  /* border: orange solid; */
  max-width: 1200px;
  margin: 30px 0;
  gap: 15px;
}

.highlights h2 {
  font-size: 26px;
  margin-bottom: 20px;
}
.articles {
  /* border: blue solid; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.card {
  /* border: orange solid; */
  width: 250px;
}

.card-seller-highlights {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  border: purple solid;
}

.card-small-avatar {
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.card-image {
  height: 350px;
  width: 250px;
  object-fit: cover;
}

/*OFFER*/

.product-background {
  background-color: #eaedee;
  /* width: 100%; */
}

.product-container {
  /* border: blue solid; */
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
  justify-content: space-evenly;
  height: 665px;
  width: 1340px;
  padding: 30px 0;
}
.product-card {
  /* border: red solid; */
  background-color: white;
  padding: 40px;
  width: 400px;
  box-sizing: border-box;
  display: flex;
}

.product-image {
  width: 450px;
  height: 665px;
  object-fit: cover;
}

.product-card-content {
  /* border: orange solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 10px; */
  margin: 2px 0;
}

.product-card > div {
  /* border: green solid; */
  margin: 20px 0;
}

.product-card > div:nth-child(2) {
  display: flex;
  /* border: yellow solid; */
}

.product-card button {
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #177782;
}

.product-info {
  /* border: turquoise solid; */
  display: flex;
  font-weight: 100;
}

.product-card-infos {
  /* border: purple solid; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-card-labels {
  /* border: green solid; */
  display: flex;
  flex-direction: column;
  color: #c7c1c1;
  gap: 5px;
}

/* .product-card div div div p {
  font-size: 14px;
} */

.card-seller-offer {
  /* border: yellow solid; */
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-card h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.product-card h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  border-top: #eaedee 1px solid;
  padding-top: 25px;
}
.product-card p {
  font-size: 14px;
}

/*SIGNUP*/
.signup-content {
  /* border: red solid; */
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 50px auto 350px;
  padding: 20px;
  align-items: center;
}

.signup-content form {
  /* border: green solid; */
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 75%;
  gap: 20px;
}
.signup-content form input {
  /* margin-top: 15px; */
  border: none;
  border-bottom: #177782 1px solid;
  padding-bottom: 5px;
}

.signup-content button {
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #177782;
}

/*FOOTER*/
footer {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}
footer div {
  padding: 50px;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
